.ChatClientWrapper__Btn {
    button {
        background-color: rgb(0, 191, 255);
        // padding: 20px;
        width: 100px;
        height: 50px;
        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}
.ChatClientWrapper {
    position: fixed;
    bottom: 0;
    right: 30px;
}

.ChatClienContent {
    width: 800px;
    height: 380px;
}
.ChatClienContent__BoxChat {
    // width: 500px;
    height: 380px;
}
.InputChat {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    // border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
    input {
        // padding: 20px 20px;
        // border: none;
        // outline: none;
        border: 1px solid #ccc;
        color: #333;
        font-size: 16px;
        // &:focus {
        //     border-color: #fff !important;
        //     box-shadow: initial !important;
        // }
    }

    .SendMessageIcon {
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
        // margin-top: 30px;
        opacity: 0.7;
    }
}
.sendMessageHaveText {
    color: rgb(0, 191, 255);
    transition-duration: 0.2s;
    &:hover {
        transform: scale(1.1);
    }
}
// .titleName {
// }
.SpaceChat {
    overflow-y: scroll;
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
.SpaceChat__Message {
    display: flex;
    justify-content: right;
}
.cssMessageUser {
    background-color: rgb(0, 191, 255);
    color: #fff;
    padding: 10px;
    display: inline;
    border-radius: 6px;
}
.SpaceChat__MessageAdmin {
    display: flex;
    justify-content: left;
}
.cssMessageAdmin {
    background-color: #ccc;
    color: #333;
    padding: 10px;
    display: inline;
    border-radius: 6px;
}
.ListAdminMessage__Parent {
    margin-top: 20px;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
}
.ListAdminMessage {
    height: 380px;
    border-right: 1px solid #ccc;
}
.ListRoomMessage {
    margin-top: 20px;
}
.ListRoomMessage__Content {
    margin-top: 10px;
    .ListRoomMessage__Content__Item {
        button {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
.EmptyMessage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-size: 18px;
    }
}
.messageItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.SpaceChat__MessageAdmin {
    display: flex;
    justify-content: left;
    gap: 5px;
}

.ReciveMessage {
    position: absolute;
    bottom: 50px;
    right: 30px;
}
