.headerInforStore {
    height: 30px;
    width: 100%;
    background-color: #222222;
    padding: 0 43px;
    display: flex;
    justify-content: space-between;
}
.headerClientAbove__Logo {
    line-height: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.headerClientAbove__Logo a img {
    width: 140px;
    height: 70px;
    object-fit: contain;
    margin-top: 11px;
}
.headerClientAbove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 20px;
}
.ant-input-affix-wrapper-lg {
    height: 40px;
}
.headerClientAbove__search .ant-input-wrapper .ant-input-affix-wrapper {
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border: 2px solid #5b5b5b;
    border-right: none;
}
.headerClientAbove__search .ant-input-wrapper .ant-input-affix-wrapper:focus {
    border-right: none;
}
.headerClientAbove__search .ant-input-group-addon button {
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    border: 2px solid #5b5b5b;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerClientAbove__search .ant-input-group-addon button:hover {
    border: 2px solid #5b5b5b;
    border-left: none;
}
.headerClientAbove__search .ant-input-group-addon button .ant-btn-icon .anticon-search svg {
    font-size: 24px;
    color: #5b5b5b;
}
.headerClientAbove__search button span span svg {
    color: #ffffffcc;
    font-size: 30px;
}
.headerClientAbove__Cart span button span span svg {
    color: #ffffffcc;
    font-size: 25px;
}
.headerClientAbove__LoginOutCart {
    display: flex;
    align-items: center;
    gap: 20px;
    /* height: 100px; */
}
.headerClientbelow {
    width: 100%;
}
.headerClientbelow__listMenu {
    display: flex;
    gap: 10px;
}

.headerClientbelow__listMenu a button {
    padding: 0;
    margin-right: 20px;
}
.ant-menu-overflow-item::after {
    display: none;
}
.subNavCategory {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 50px;
    width: calc(100% - 50px);
    z-index: 1000;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: none;
}

.bigChildrenTab {
    position: relative;
    cursor: pointer;
}

.bigChildrenTab::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 100px;
    background-color: none;
    left: 0;
    right: 0;
    top: 20px;
}

.bigChildrenTab:hover .subNavCategory {
    display: block;
}
.subNavCategory__heading {
    height: 40px;
    font-size: 16px;
    color: #111;
    font-weight: 600;
    cursor: pointer;
}
.subNavCategory__heading span {
    text-transform: uppercase;
}
.subNavCategory__listItems li {
    height: 40px;
}
.subNavCategory__listItems li a {
    color: #111;
}
.subNavCategory__container {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
.subNavCategory__heading:hover span {
    color: red;
}
.subNavCategory__listItems li:hover a span {
    color: red;
}
.ListHeaderCat {
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffffcc;
    font-weight: 600;
    border-radius: inherit;
    transition: all 0.2s;
}
.bigChildrenTab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2.5px;
    background-color: red;
    top: 74%;
    transition: all 0.4s;
}
.menuItemCss::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    top: 108%;
    transition: all 0.4s;
}
.menuItemCss:hover::after {
    width: 100%;
}
.bigChildrenTab:hover::after {
    width: 100%;
}
.subnavCategory {
    width: 200px;
    padding: 10px 10px;
    cursor: pointer;
}
.subnavCategory a {
    /* color: #11006f; */
    font-size: 14px;
}
.subnavCategory:hover a {
    color: red;
}
.headerClientAbove__Cart {
    display: flex;
    transform: translateY(-13px);
}
.searchResultInputContainer input {
    height: 40px;
}
.searchResultInputContainer .ant-input-group-addon button {
    height: 40px;
    width: 40px;
}
.searchResultInput {
    display: flex;
    /* justify-content: center; */
}
.headerClientAbove__search {
    transform: translateY(6px);
}
.searchResultInput__Item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 60px;
    cursor: pointer;
}

.searchResultInput__Item__Infor__name span {
    font-size: 14px;
}
.searchResultInput__Item__Infor__name__Price span {
    font-size: 14px;
    color: red;
}
.searchResultInputContainer input {
    height: 41px;
}
.ant-popover-content {
    margin-top: 20px;
}
.boxUserAlreadyLogin {
    vertical-align: middle;
    display: flex;
    gap: 4px;
    align-items: center;
}
.boxUserAlreadyLogin__AvatarAndName {
    vertical-align: middle;
    display: flex;
    gap: 4px;
    align-items: center;
    flex-direction: column;
}
.boxUserAlreadyLogin__AvatarAndName span {
    font-size: 13px;
    color: #ffffffcc;
}
.headerClientAbove__LoginOut {
    vertical-align: middle;
}
.headerClientAbove__LoginOut button {
    font-size: 15px;
    padding: 4px;
}
.headerClientAbove__LoginOut span {
    font-size: 13px;
    color: #ffffffcc;
    text-transform: uppercase;
}
.headerClientAbove__LoginOut span:hover {
    color: red;
}
.btnLoginClick {
    font-size: 15px;
    padding: 4px;
}
.headerClientAbove__Cart__Popover {
    border-radius: initial;
    margin-top: 20px;
}

.SelectBeforeSearch .ant-select-selector {
    border: none !important;
}
.searchResultBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.searchResultInput__Item__Infor {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.headerInforStore__Item {
    display: flex;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.headerInforStore__Item__Social p {
    text-transform: uppercase;
    font-size: 12px;
}
.headerInforStore__Item__Social p > a {
    margin-left: 4px;
}
.subNavCategory__Wrapper {
    min-width: 400px;
    padding: 20px;
}
.subnavCategory:hover {
    background-color: #f5f5f5;
    color: red;
}
