.headerClientAbove__Logo {
    line-height: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.headerClientAbove__Logo a img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.headerClientAbove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.ant-input-affix-wrapper-lg {
    height: 40px;
}
.headerClientAbove__search .ant-input-wrapper .ant-input-affix-wrapper {
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border: 2px solid #5b5b5b;
    border-right: none;
}
.headerClientAbove__search .ant-input-wrapper .ant-input-affix-wrapper:focus {
    border-right: none;
}
.headerClientAbove__search .ant-input-group-addon button {
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    border: 2px solid #5b5b5b;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerClientAbove__search .ant-input-group-addon button:hover {
    border: 2px solid #5b5b5b;
    border-left: none;
}
.headerClientAbove__search .ant-input-group-addon button .ant-btn-icon .anticon-search svg {
    font-size: 24px;
    color: #5b5b5b;
}
.headerClientAbove__LoginOutCart {
    display: flex;
    align-items: center;
    gap: 20px;
}
.headerClientbelow {
    width: 100%;
}
.headerClientbelow__listMenu {
    display: flex;
}
.headerClientbelow__listMenu a button {
    padding: 0;
    margin-right: 20px;
}
.ant-menu-overflow-item::after {
    display: none;
}
.subNavCategory {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 50px;
    width: calc(100% - 50px);
    z-index: 1000;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: none;
}

.bigChildrenTab {
    position: relative;
}

.bigChildrenTab::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 100px;
    background-color: none;
    left: 0;
    right: 0;
    top: 20px;
}

.bigChildrenTab:hover .subNavCategory {
    display: block;
}
.subNavCategory__heading {
    height: 40px;
    font-size: 16px;
    color: #111;
    font-weight: 500;
    cursor: pointer;
}
.subNavCategory__heading span {
    text-transform: uppercase;
}
.subNavCategory__listItems li {
    height: 40px;
}
.subNavCategory__listItems li a {
    color: #111;
}
.subNavCategory__container {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
.ListHeaderCat {
    font-size: 14px;
    text-transform: uppercase;
    /* color: #11006f; */
}
.subnavCategory {
    width: 200px;
    padding: 10px 4px;
}
.subnavCategory a {
    /* color: #11006f; */
    font-size: 15px;
}
.headerClientAbove__Cart {
    display: flex;
}
.searchResultInputContainer input {
    height: 40px;
}
.searchResultInputContainer .ant-input-group-addon button {
    height: 40px;
    width: 40px;
}
.searchResultInput {
    display: flex;
    justify-content: center;
}
.headerClientAbove__search {
}
.searchResultInput__Item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 0 20px; */
    padding: 0 60px;
}

.searchResultInput__Item__Infor__name span {
    font-size: 14px;
}
.ResultSearch {
    /* padding-bottom: 40px; */
}
.searchResultInputContainer input {
    height: 41px;
}
