.canvas {
    height: 200px !important;
}
.dashBoad__StatisticCol {
    // box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    //     0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // background-color: #fff;
    // border: 1px solid blue;
    border: 1px solid silver;
}
.dashBoad__StatisticCol__SelectCss {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
