.LoginClient {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    min-height: 100vh;
}
.LoginClientForm {
    background-color: #fff;
    width: 600px !important;
    padding: 40px;
    margin: 60px 0;
}
.LoginClient__title {
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px;
    line-height: initial;
    text-transform: uppercase;
}
.inputLoginCss {
    width: 100%;
    height: 55px;
    padding: 5px 20px;
    color: #5c5c5c;
    font-weight: 500;
    border: 1px solid transparent;
    background: #ededed;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.inputLoginCss input {
    background-color: #ededed;
}

.btnLoginClient {
    color: #fff;
    display: inline-block;
    border-radius: 0;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 600;
    background: #000;
    cursor: pointer;
    border: 1px solid #000;
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    display: flex;
    margin: auto;
}
.footerFormLoginClient a {
    color: #05a;
}
.LoginClient__logo {
    display: flex;
    justify-content: center;
}
.footerFormLoginClient button,
.footerFormLoginClient a {
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-weight: 500;
}
.footerFormLoginClient button:hover,
.footerFormLoginClient a:hover {
    color: red !important;
}
