.CommonContent {
    /* width: 100%; */
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 26px;
    margin: 10px;
}
.CommonContent__title {
    font-size: 24px;
    font-weight: 600;
}
