.HomeClientWrapper {
    background-color: #fff;
    margin-top: 100px;
}
.HomeClientSaleProduct {
    /* padding-top: 20px; */
    padding: 40px 50px;
}
.HomeClientSaleProduct__title {
    margin-bottom: 40px;
}
.HomeClientSaleProduct__title span {
    font-size: 20px;
    font-weight: 500;
}
.HomeClientSaleProduct__listItem {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.HomeClientSaleBanner__Static {
    margin-right: 10px;
}
.HomeClientSaleBanner__Static__Item img {
    /* width: 100%; */
    height: 200px;
    border-radius: 10px;
}
.SuggestForyou {
    padding-right: 40px;
    /* margin-top: 40px; */
}
.HomeClientSaleProduct__title {
    display: flex;
    justify-content: space-between;
}
/* .HomeClientWrapper__slider {
} */
